__pycache__

# Dependency directories
node_modules/

# OS
.DS_Store

# Audio
*.mp3
*.m4a
*.wav

# Images
#*.png

# Documents
*.pdf
*.pptx

# Data files maybe?
# *.json
*.csv
*.zip
sub/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
**/.Rapp.history

# Login info
.htaccess
.htpasswd

.idea
pubs_material/evomusart_2021/cardinality_score_figure/candidates/
pubs_material/evomusart_2021/cardinality_score_figure/original/
pubs_material/evomusart_2021/cardinality_score_figure/results/
pubs_material/evomusart_2021/cardinality_score_figure/compare/

pubs_material/evomusart_extra/process/candidates/
pubs_material/evomusart_extra/process/original/
pubs_material/evomusart_extra/process/out/
pubs_material/evomusart_extra/process/lookup/
pubs_material/evomusart_extra/process/match/
pubs_material/evomusart_extra/process/maestro/maestro-v3.0.0/

dataset
experiment
